---
import GoToHome from "../components/GoToHome.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <div
    class="bg-green-50 text-black h-[500px] w-full flex justify-center items-center pt-6 flex-col gap-y-2"
  >
    <span class="text-6xl md:text-8xl font-bold tracking-tighter">404</span>
    <p class="text-2xl">La ruta solicitada no existe</p>
    <GoToHome />
  </div>
</Layout>
