---
import GoToHome from "../components/GoToHome.astro";
import LastUpdated from "../components/LastUpdated.astro";
import Layout from "../layouts/Layout.astro";
import { DOMAIN, WHATSAPP } from "../utils/const";
const ADMIN_EMAIL = String(import.meta.env.ADMIN_EMAIL);
---

<Layout>
  <section
    class="bg-gray-200 w-full flex justify-center items-center pt-36 pb-24 flex-col gap-y-2"
  >
    <div
      class="w-full h-full flex flex-col justify-start items-start gap-y-4 max-w-2xl px-6 sm:px-0 [&>p>b]:flex [&>p>b]:flex-col"
    >
      <h3 class="text-4xl font-bold tracking-tighter mb-2 w-full text-start">
        Términos de Servicio
      </h3>
      <LastUpdated date="09/06/2025" />
      <p>
        Bienvenido a {DOMAIN} (en adelante, “el Sitio“). Este documento establece
        los términos y condiciones que rigen el acceso y uso del Sitio y de los servicios
        ofrecidos por CAPITAL CREDIT (en adelante, “la Empresa“). Al acceder o utilizar
        el Sitio, aceptas estar legalmente vinculado por estos Términos de Servicio.
        Si no estás de acuerdo con ellos, no debes utilizar el Sitio.
      </p>
      <p>
        <b>1. Aceptación de los términos</b>
        Al utilizar nuestro Sitio, declaras que tienes al menos 18 años de edad y
        que tienes capacidad legal para celebrar contratos vinculantes. Aceptas y
        te comprometes a cumplir con todos los términos y condiciones establecidos
        en este documento.
      </p>
      <p>
        <b>2. Naturaleza de los servicios</b>
        CAPITAL CREDIT es una empresa dedicada a los créditos personales. El Sitio
        tiene como finalidad principal la recopilación de información de usuarios
        interesados en nuestros servicios para su posterior contacto y evaluación
        crediticia. La presentación de una solicitud a través de este Sitio no implica
        la aprobación automática del crédito. La aprobación estará sujeta a la evaluación
        de tu perfil crediticio, historial de deudas y capacidad de pago, de acuerdo
        con nuestras políticas internas y la normativa vigente.
      </p>
      <p>
        <b>3. Veracidad de la información</b>
        Eres responsable de la exactitud y veracidad de toda la información que proporcionas
        a través de nuestro formulario y durante el proceso de solicitud de crédito.
        Cualquier falsedad u omisión en la información suministrada podrá resultar
        en la denegación de tu solicitud o, en caso de haber sido otorgado, la rescisión
        del crédito y las acciones legales correspondientes.
      </p>
      <p>
        <b>4. Obligaciones del usuario</b>
        Al utilizar el Sitio, te comprometes a utilizar el Sitio de manera lícita,
        sin violar la normativa vigente ni los derechos de terceros. No utilizar
        el Sitio para fines fraudulentos, ilegales o no autorizados. No intentar
        acceder, modificar o dañar los sistemas informáticos de la Empresa o de terceros.
        No realizar acciones que puedan causar la interrupción, daño o inhabilitación
        del Sitio.
      </p>
      <p>
        <b>5. Acceso a bases de datos crediticias</b>
        Al completar el formulario y manifestar tu interés en un crédito, autorizas
        expresamente a CAPITAL CREDIT a consultar tu historial crediticio y de deudas
        en bases de datos de riesgo crediticio (ej: Veraz, Banco Central de la República
        Argentina, etc.) para fines de evaluación de tu solicitud. Esta consulta
        es indispensable para poder ofrecerte un servicio.
      </p>
      <p>
        <b>6. Propiedad intelectual</b>
        Todo el contenido del Sitio, incluyendo textos, gráficos, logotipos, íconos,
        imágenes, clips de audio, descargas digitales, compilaciones de datos y software,
        es propiedad de CAPITAL CREDIT o de sus proveedores de contenido y está protegido
        por las leyes de propiedad intelectual de Argentina y tratados internacionales.
      </p>
      <p>
        <b>7. Exención de responsabilidad</b>
        La Empresa no garantiza que el acceso al Sitio sea ininterrumpido o libre
        de errores. Contenido: La información provista en el Sitio tiene fines informativos
        y no constituye asesoramiento financiero o legal. Aprobación de Créditos:
        La Empresa no garantiza la aprobación de ninguna solicitud de crédito. La
        decisión final dependerá de la evaluación individual de cada caso. Fallos
        técnicos: La Empresa no será responsable por daños o perjuicios que puedan
        derivarse de interferencias, omisiones, interrupciones, virus informáticos,
        averías telefónicas o desconexiones en el funcionamiento operativo del sistema
        electrónico, motivadas por causas ajenas a la Empresa.
      </p>
      <p>
        <b>8. Enlaces a terceros</b>
        El Sitio puede contener enlaces a sitios web de terceros. Estos enlaces se
        proporcionan únicamente para tu conveniencia. La Empresa no controla ni es
        responsable del contenido o las políticas de privacidad de estos sitios web
        de terceros.
      </p>
      <p>
        <b>9. Modificaciones de los términos de servicio</b>
        CAPITAL CREDIT se reserva el derecho de modificar estos Términos de Servicio
        en cualquier momento, a su entera discreción. Las modificaciones entrarán
        en vigor a partir de su publicación en el Sitio. Es tu responsabilidad revisar
        periódicamente estos Términos de Servicio para estar al tanto de cualquier
        cambio. El uso continuado del Sitio después de la publicación de las modificaciones
        constituirá tu aceptación de los mismos.
      </p>
      <p>
        <b>10. Ley aplicable y jurisdicción</b>
        Los presentes Términos de Servicio se rigen e interpretan de acuerdo con
        las leyes de la República Argentina. Cualquier disputa que surja en relación
        con estos Términos de Servicio será sometida a la jurisdicción exclusiva
        de los tribunales ordinarios de Argentina.
      </p>
      <p>
        <b>11. Contacto</b>
        Para cualquier pregunta o comentario sobre estos Términos de Servicio, por
        favor contáctanos a través de {ADMIN_EMAIL} o {WHATSAPP}.
      </p>
      <GoToHome />
    </div>
  </section>
</Layout>
