<a
  href="/#formulario"
  class="bg-gradient-to-b from-green-500 to-green-600 text-green-50 tracking-wide border-b-green-500 border-b-3 border-l-3 border-l-green-600 overflow-hidden relative px-8 py-3 rounded-md hover:brightness-110 outline-0 duration-75 group mt-4 text-xl"
>
  <span
    class="bg-green-400 shadow-green-400 absolute -top-[150%] left-0 inline-flex w-80 h-[5px] rounded-md opacity-50 duration-500 shadow-[0_0_10px_10px_rgba(0,0,0,0.3)]"
  ></span>
  Solicitar&nbsp;ahora
</a>
