---
import PhoneIcon from "../assets/svg/phone.svg";
import EmailIcon from "../assets/svg/email.svg";
import IgIcon from "../assets/svg/ig.svg";
import ArrowIcon from "../assets/svg/arrow.svg";
import { WHATSAPP_URL } from "../utils/const";
---

<footer class="bg-gray-900 py-12 text-gray-300/95">
  <div class="container mx-auto px-4 max-w-[910px]">
    <div class="flex justify-between items-start gap-6 mb-8 flex-wrap">
      <div class="lg:col-span-2">
        <a
          href="/"
          class="text-2xl uppercase font-bold text-[#7ba960] mb-4 inline-block"
          >capital credit</a
        >
        <div class="flex gap-y-4 flex-col justify-center items-start">
          <a
            href={WHATSAPP_URL}
            target="_blank"
            rel="noreferrer"
            class="hover:brightness-125 transition-colors flex"
          >
            +54&nbsp;9&nbsp;1176294118&nbsp;&nbsp;<PhoneIcon />
          </a>
          <a
            href="https://www.instagram.com/creditos.capital?igsh=Z2Vzbmx4bWN5c3N4"
            target="_blank"
            rel="noreferrer"
            class="hover:brightness-125 transition-colors flex"
          >
            @creditos.capital&nbsp;&nbsp;<IgIcon />
          </a>
          <a
            href="mailto:capital.credit.operaciones@gmail.com"
            class="hover:brightness-125 transition-colors flex"
          >
            capital.credit.operaciones@gmail.com&nbsp;&nbsp;<EmailIcon />
          </a>
        </div>
      </div>

      <div>
        <h3 class="text-2xl font-semibold mb-4 text-[#7ba960]">LEGAL</h3>
        <ul class="space-y-4 [&>li>a]:hover:brightness-125 transition-colors">
          <li>
            <a href="/aviso-legal" class="flex gap-x-1">
              Aviso Legal<ArrowIcon />
            </a>
          </li>
          <li>
            <a href="/terminos-de-servicio" class="flex gap-x-1">
              Términos de Servicio<ArrowIcon />
            </a>
          </li>
          <li>
            <a href="/politica-de-privacidad" class="flex gap-x-1">
              Política de Privacidad<ArrowIcon />
            </a>
          </li>
        </ul>
      </div>
    </div>

    <!-- <div
      class="border-y border-gray-700 py-6 text-xs flex flex-col gap-y-2 mb-6 [&>p]:sm:w-full [&>p]:w-[90%]"
    >
      <p>
        Las operaciones de financiamiento ofrecidas son en pesos argentinos y a
        tasa fija, con cuotas semanales, o quincenales iguales y consecutivas
        según el cronograma de pagos acordado. En todos los casos, la Tasa
        Nominal Anual (TNA), la Tasa Efectiva Anual (TEA) y el Costo Financiero
        Total (CFT) aplicables serán informados antes de la aceptación de la
        oferta del préstamo por parte del solicitante.A modo de ejemplo, un
        préstamo de $70.000 a devolver en 5 cuotas semanales tendrá una TNA:
        250,0% / TEA: 1049,7% / CFTNA: 786,3%Tanto el monto como el plazo
        ofrecido a cada solicitante dependerá del análisis que se realice de su
        perfil crediticio como de su conducta de cumplimiento en operaciones
        anteriores con la empresa. El monto mínimo ofrecido será de $70.000, y
        el monto máximo posible de $450.000.
      </p>
      <p>
        Nuestra asistencia crediticia es una propuesta válida para personas
        humanas que no se encuentren en relación de dependencia y que desean
        realizar un emprendimiento con impacto social o ambiental en la
        República Argentina. Condiciones crediticias: Plazo 12 meses; Tasa
        Nominal Anual 0,0%; Tasa Efectiva Anual 0,0%: Costo Financiero Total
        (CFT) 0,0%.El titular de los datos personales tiene la facultad de
        ejercer el derecho de acceso a los mismos en forma gratuita a intervalos
        no inferiores a 6 meses, salvo que acredite un interés legítimo al
        efecto conforme lo establecido en el art. 14 inc. 3ro de la Ley 25.326.
        La Agencia de Acceso a la información Pública, órgano de control de la
        Ley 25.326, tiene la atribución de atender las denuncias y reclamos que
        se interpongan con relación al incumplimiento de las normas sobre
        protección de datos personales. Para contactar a la misma: Av. Pte.
        Gral. Julio A. Roca 710 Piso; 2º ( C1067ABP) Ciudad Autónoma de Buenos
        Aires - Tel: (+5411) 3988-3968 -
        https://www.argentina.gob.ar/aaip/datospersonales -
        datospersonales@aaip.gob.ar
      </p>
    </div> -->

    <div
      class="pt-8 border-t border-gray-700 flex flex-col sm:flex-row w-full justify-between items-start sm:items-center"
    >
      <div class="flex flex-wrap gap-y-2">
        <p>
          &copy;&nbsp;{new Date().getFullYear()} CAPITAL CREDIT&nbsp;~&nbsp;
        </p><span>Todos los derechos reservados</span>
      </div>
      <a
        rel="noreferrer"
        target="_blank"
        href="https://lym.software"
        class="hover:text-white duration-75 mt-2 sm:mt-0"
      >
        Desarrollado por Lym Software
      </a>
    </div>
  </div>
</footer>
