---
import { WHATSAPP_URL } from "../utils/const";
import WhatsAppIcon from "../assets/svg/whatsapp.svg";
import ArrowBottomIcon from "../assets/svg/arrow-bottom.svg";
---

<section id="formulario" class="py-[6rem] sm:py-[8rem] bg-gray-800">
  <div
    class="container mx-auto max-w-[1000px] flex justify-center items-center flex-col px-4"
  >
    <div class="mb-10 w-full flex flex-col justify-center items-center gap-y-8">
      <h2 class="text-center w-full text-5xl font-bold text-gray-100">
        Formulario
      </h2>
      <div
        class="flex flex-col text-lg px-4 sm:px-0 items-center justify-center gap-y-2 text-gray-300 w-full"
      >
        <p class="text-center flex flex-col sm:flex-row">
          ¿Es tu primera vez con nosotros?
          <span>&nbsp;Completá el formulario para que analicemos tu perfil</span
          >
        </p>
        <p
          class="flex flex-col sm:flex-row text-center sm:text-start justify-start items-center"
        >
          ¿Ya sos cliente y querés renovar?
          <span class="flex gap-x-2">
            &nbsp;Hacé clic acá:
            <a
              rel="noreferrer"
              target="_blank"
              href={`${WHATSAPP_URL}?text=Hola CAPITAL CREDIT, solicito una renovación...`}
              class="opacity-90 hover:brightness-125 transition-opacity"
            >
              <WhatsAppIcon class="size-6" />
            </a>
          </span>
        </p>
      </div>
    </div>
    <div
      class="w-full max-w-lg bg-[#101828] border-2 border-gray-600/40 rounded-lg shadow-md p-6"
    >
      <form
        method="post"
        id="form-main"
        name="form-main"
        spellcheck="false"
        action="/api/submit"
        class="flex flex-col"
        enctype="multipart/form-data"
      >
        <label for="dni" class="label-style">
          DNI
          <input
            required
            type="text"
            id="dni"
            name="dni"
            placeholder="12.345.678"
            class="input-style"
            minlength="7"
            maxlength="10"
          />
        </label>
        <label for="phone" class="label-style">
          Celular
          <input
            required
            type="tel"
            id="phone"
            name="phone"
            placeholder="5491176294118"
            class="input-style"
            minlength="7"
            maxlength="22"
          />
        </label>
        <label for="email" class="label-style">
          <p>
            Email&nbsp;<span class="text-xs text-gray-400"
              >&#40;opcional&#41;</span
            >
          </p>
          <input
            id="email"
            type="email"
            name="email"
            inputmode="email"
            minlength="5"
            maxlength="254"
            placeholder="ejemplo@gmail.com"
            autocapitalize="off"
            autocorrect="off"
            autocomplete="on"
            class="input-style"
          />
        </label>
        <label for="condition" class="label-style mb-1 relative text-gray-200">
          Condición laboral
          <ArrowBottomIcon />
        </label>
        <select required id="condition" name="condition" class="input-style">
          <option disabled selected value="no-selected"
            >Seleccioná una opción</option
          >
          <option value="Trabajo informal (sin recibo)"
            >Trabajo informal (sin recibo)</option
          >
          <option value="Trabajo en relación de dependencia (con recibo)"
            >Trabajo en relación de dependencia (con recibo)
          </option>
          <option value="Jubilado/a">Jubilado/a</option>
          <option value="Monotributista">Monotributista</option>
          <option value="Emprendedor/a o trabajador independiente"
            >Emprendedor/a o trabajador independiente</option
          >
        </select>
        <button
          id="form-btn"
          type="submit"
          class="bg-gradient-to-b border-b-3 border-l-3 border-l-green-700 border-b-green-600 from-green-500 to-green-700 text-white font-bold py-2 rounded-md mt-4 hover:brightness-110 duration-75 cursor-pointer text-xl sm:text-2xl tracking-wide"
        >
          Enviar
        </button>
      </form>
    </div>
  </div>
</section>

<script>
  window?.document?.addEventListener("DOMContentLoaded", function () {
    const form = document.getElementById("form-main") as HTMLFormElement,
      btn = document.getElementById("form-btn") as HTMLButtonElement,
      dniInput = document.getElementById("dni") as HTMLInputElement,
      phoneInput = document.getElementById("phone") as HTMLInputElement,
      regex: Regex = {
        dni: new RegExp(/^(\d{1,3}([. ]\d{3}){2}|\d{7,8})$/),
        email: new RegExp(/^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$/i),
        phone: new RegExp(/^\+?\d{7,22}$/),
      };

    interface Regex {
      [key: string]: RegExp;
    }

    dniInput.addEventListener("input", (e: Event) => {
      const input = e.target as HTMLInputElement;
      let value: string = input.value.replace(/[^0-9.\s]/g, "");
      input.value = value;
    });

    phoneInput.addEventListener("input", (e: Event) => {
      const input = e.target as HTMLInputElement;
      let value: string = input.value.replace(/[^0-9\s+]/g, "");
      input.value = value;
    });

    form.addEventListener("submit", (e: Event) => {
      e.preventDefault();

      const dni: string = form.dni.value.toString().trim(),
        email: string = form.email.value.toString().trim(),
        phone: string = form.phone.value.toString().trim(),
        condition: string = form.condition.value,
        errors: string[] = [];

      if (!regex.dni.test(dni)) {
        errors.push(
          "> El DNI ingresado es inválido. Ejemplo válido: 12.345.678"
        );
      }

      if (email.length > 0 && !regex.email.test(email)) {
        errors.push(
          "> El email ingresado es inválido. Ejemplo válido: ejemplo@gmail.com"
        );
      }

      if (!regex.phone.test(phone)) {
        errors.push(
          "> El celular ingresado es inválido. Ejemplo válido: 5491176294118"
        );
      }

      if (condition == "no-selected") {
        errors.push("> Debes seleccionar una condición laboral");
      }

      if (errors.length > 0) {
        window?.alert(errors.join("\n\n"));
        btn.disabled = false;
        btn.innerText = "Enviar";
        btn.style.pointerEvents = "auto";
        btn.style.opacity = "1";
        return;
      }

      btn.disabled = true;
      btn.innerText = "Enviando...";
      btn.style.pointerEvents = "none";
      btn.style.opacity = "0.9";
      form.submit();
    });
  });
</script>
