<header class="fixed backdrop-blur-sm w-full shadow-md z-50 bg-gray-800/90">
  <div
    class="container mx-auto max-w-[1000px] py-4 px-6 lg:px-0 flex justify-between items-center"
  >
    <div
      class="flex w-full gap-x-2 justify-center items-start sm:justify-start relative"
    >
      <span
        class="bg-white absolute size-6 rounded-full left-3 top-2 -z-10 text-transparent"
        >.</span
      >
      <img src="/favicon.ico" alt="logo" class="size-13 rounded-full" />
      <a
        href="/"
        class="text-green-50 text-lg uppercase font-bold tracking-tight flex flex-col relative justify-start items-start"
      >
        <span>capital</span>
        <span class="absolute top-5">credit</span>
      </a>
    </div>

    <nav
      class="hidden sm:flex text-sm md:text-lg gap-x-5 md:gap-x-8 [&>a]:hover:opacity-80 [&>a]:cursor-default justify-center items-center text-gray-100"
    >
      <a href="/#inicio">Inicio</a>
      <a href="/#pasos">Pasos</a>
      <a href="/#formulario">Formulario</a>
      <a href="/#testimonios">Testimonios</a>
    </nav>
  </div>
</header>
