<header
  class="fixed backdrop-blur-sm bg-[#f3efe7d0] w-full sm:bg-[#f3efe7] sm:backdrop-blur-none shadow-sm z-50"
>
  <div
    class="container mx-auto max-w-[1000px] py-4 px-6 md:px-0 flex justify-between items-center"
  >
    <div
      class="flex w-full gap-x-2 justify-center items-start sm:justify-start"
    >
      <img src="/favicon.svg" alt="logo" class="mt-1 size-10" />
      <a
        href="/"
        class="text-[#224529] text-lg uppercase font-bold tracking-tight flex flex-col relative justify-start items-start"
      >
        <span>capital</span>
        <span class="absolute top-5">credit</span>
      </a>
    </div>

    <nav
      class="hidden sm:flex text-sm md:text-lg gap-x-6 [&>a]:hover:opacity-80 [&>a]:cursor-default justify-center items-center text-[#1c3921]"
    >
      <a href="/#inicio">Inicio</a>
      <a href="/#pasos">Pasos</a>
      <a href="/#formulario">Formulario</a>
      <a href="/#testimonios">Testimonios</a>
    </nav>
  </div>
</header>
