<header class="fixed w-full shadow-xs shadow-gray-400 z-50 bg-gray-50">
  <div
    class="container mx-auto max-w-[1000px] py-3 sm:py-4 px-6 lg:px-0 flex justify-between items-center"
  >
    <a
      href="/"
      class="flex w-full sm:w-max gap-x-1 justify-center items-start sm:justify-start relative"
    >
      <img
        src="/favicon.ico"
        width="40"
        height="40"
        alt="logo"
        class="rounded-full mt-[4.2px]"
      />
      <p
        class="text-lg sm:text-xl uppercase font-bold flex flex-col relative justify-start items-start"
      >
        <span class="text-[#06324e]">capital</span>
        <span class="absolute top-5 text-[#006531]">credit</span>
      </p>
    </a>

    <nav
      class="hidden sm:flex text-sm md:text-lg gap-x-5 md:gap-x-8 [&>a]:hover:opacity-80 [&>a]:cursor-default justify-center items-center text-gray-800"
    >
      <a href="/#inicio">Inicio</a>
      <a href="/#pasos">Pasos</a>
      <a href="/#formulario">Formulario</a>
      <a href="/#testimonios">Testimonios</a>
    </nav>
  </div>
</header>
