---
import mockup from "../assets/img/mockup.webp";
import ActionBtn from "./ActionBtn.astro";
---

<section
  id="inicio"
  class="pt-[4rem] sm:pt-[6rem] pb-[2rem] bg-gradient-to-tr from-[#006838] to-[#003865] w-full h-full flex items-center justify-center"
>
  <div
    class="w-full max-w-[800px] flex flex-col sm:flex-row justify-between items-center"
  >
    <div
      class="text-white max-w-lg flex flex-col sm:justify-start sm:items-start items-center justify-center gap-y-6 sm:gap-y-4 mb-10 mt-22 sm:mt-0 sm:mb-0"
    >
      <h1
        class="text-4xl sm:text-5xl text-center sm:text-start font-bold text-balance w-full"
      >
        Obtené la ayuda financiera que necesitás
      </h1>
      <p class="text-xl text-center sm:text-start text-pretty w-full max-w-md">
        Te acompañamos en cada paso con soluciones seguras y personalizadas
      </p>
      <ActionBtn />
    </div>
    <img
      src={mockup.src}
      alt="mockup"
      class="hidden md:block w-[250px] h-full brightness-110"
      decoding="async"
    />
  </div>
</section>
