---
import { WHATSAPP_URL } from "../utils/const";
import WhatsAppIcon from "../assets/svg/whatsapp.svg";
---

<a
  rel="noreferrer"
  target="_blank"
  href={`${WHATSAPP_URL}?text=Hola CAPITAL CREDIT, quiero consultar por...`}
  aria-label="Contactar por WhatsApp"
  class="fixed z-30 bottom-10 sm:bottom-12 right-8 sm:right-10 transition-colors hover:bg-green-500 bg-green-400 rounded-full p-2.5 outline-none shadow-lg shadow-green-950"
>
  <WhatsAppIcon class="size-12 sm:size-14 p-1" />
</a>
